<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>EpicDash</string>
	<key>CFBundleDisplayName</key>
	<string>EpicDash</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
	</array>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>EpicDash needs Bluetooth to connect to your ESP32 dashboard controller.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>EpicDash needs Bluetooth to connect to your ESP32 dashboard controller.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>EpicDash uses your location to display GPS speed on the dashboard.</string>
</dict>
</plist>
